*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin sans',sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url('jefferson-santos-9SoCnyQmkzI-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:45px;
    padding-right: 8%;
    padding-left: 8%;
    position: cursor;
}
.logo{
    color: #ff5e5e;
    font-size: 35px;
    letter-spacing: 5px;
    cursor: pointer;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#ff5e5e;
    transition: .4s;

}
.btn{
    color: white;
    background-color: #ff5e5e;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius:  30px;
    transition: 4s;
    border: white;
}
.btn:hover{
    transform: scale(1.1);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 25px 0px 25px;
    font-size: 55px;
}
h3{
    color: white;
    font-size: 28px;
    margin-bottom:50px;
}
h4{
    color: white;
    letter-spacing: 2px;
    font-size:20px;
}
.newsletter form{
    cursor: pointer;
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #191911;
    border-radius: 30px;
}
.newsletter form input:last-child{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#ff5e5e;
    color: white;
    box-shadow: 0px 0px 5px, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919; 
}
.about img{
    height: auto;
    width: 350px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width:95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text span{
    color: #ff5e5e;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
 p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: 500;
}
button{
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    padding: 13px 30px;
    border-radius: 30px;
}
button:hover{
    background-color: transparent;
    padding: 2px solid #ff6a00;
    cursor: pointer;
}
.service{
    background: #101010; 
    width: 100%;
    padding: 100px 0px;
}
.title h2 span{
    color: #ff5e5e;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card1{
    background-image: url(backgroung1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card2{
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}.card3{
    background-image: url(background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card1 i{
    
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #ff5e5e;
}
.card2 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #ff5e5e;
}.card3 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #ff5e5e;
}
h5{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
.para p{
    color: #fefefe;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card1 .button{
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}
.card2 .button{
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}.card3 .button{
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}
.card1 .button:hover{
    background-color: transparent;
    padding: 2px solid #ff6a00;
    cursor: pointer;
}.card2 .button:hover{
    background-color: transparent;
    padding: 2px solid #ff6a00;
    cursor: pointer;
}.card3 .button:hover{
    background-color: transparent;
    padding: 2px solid #ff6a00;
    cursor: pointer;
}
.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #ff5e5e;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bolder;
    font-size: 20px;
    padding: 13px 30px;
    border-radius: 30px;
}
.contact-me .button-two:hover{
    background-color: transparent;
    padding: 2px solid #ff6a00;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 400px;
    text-align:center;
    line-height: 26px;
}
.social{
    display: flex;
    
}
.social a{
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center; 
   background:#ff5e5e;
   border-radius: 50%;
   margin: 22px 10px;
   color: white;
   text-decoration: none;
   font-size: 20px;
}
social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #ff5e5e;
    bottom: 35px;
    font-size: 15px;
}
